# ignore generated html files
*.html
# except ones which are maintained by hand
!faq.html
!index.html
!chooser.html

# ignore audio files
audio/*

# ignore old gulp node_modules folder
node_modules/*

# ignore js and css folders containing Materialize
js/*
css/*

junk/*
img/*
docs/*
.vscode/*
*.code-workspace
make.exe
compiler.jar
compiler-help.txt
package*.json
desktop.ini
